<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Input Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Enter Your Input</h1>
        <form action="/submit" method="POST">
            <div class="form-group">
                <input type="text" id="ticker" name="ticker" placeholder="Enter ticker..." class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="container mt-5">
        <h1>Display Data</h1>
        <form action="/display-data" method="POST">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
        <div class="container mt-5">
        <h1>Delete Data</h1>
        <form action="/clear" method="POST">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
